---
- name: Install fail2ban
  apt:
    name: fail2ban
    state: present
    update_cache: yes

- name: Copy jail.local
  copy:
    dest: /etc/fail2ban/jail.local
    content: |
      [sshd]
      enabled = true
      port    = ssh
      filter  = sshd
      logpath = /var/log/auth.log
      maxretry = 5
      bantime = 3600
      ignoreip = {{ ALLOWED_CLIENT_IP }}

- name: Ensure fail2ban is running and enabled
  service:
    name: fail2ban
    state: started
    enabled: true
